<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--<system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICameraService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/CameraService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICameraService" contract="ServiceReference1.ICameraService"
                name="BasicHttpBinding_ICameraService" />
        </client>
    </system.serviceModel>-->
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICameraService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/CameraService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICameraService" contract="ServiceReference1.ICameraService"
                name="BasicHttpBinding_ICameraService" />
        </client>
    </system.serviceModel>
</configuration>